h1 {
  counter-reset: h2;
}
h2 {
  counter-reset: h3;
}
h3 {
  counter-reset: h4;
}
h4 {
  counter-reset: h5;
}
h5 {
  counter-reset: h6;
}
h6 {
  counter-reset: h7;
}


h1 {
    margin-left:0.1em;
}
h2 {
    margin-left:0.5em;
    font-size:x-large;
}
h3 {
    margin-left:1.8em;
    font-size:large;
}
h4 {
    margin-left:3em;
    font-size:large;
}
h5 {
    margin-left:4em;
    font-size:large;
}
h6 {
    margin-left:5em;
    font-size:large;
}
h7 {
    margin-left:6em;
    font-size:large;
}

p {
    margin-left:6.5em;
}

dl {
    margin-left:6.5em;
}

dt {
    font-weight: bolder;
}

